In [106]:
import tushare as ts
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
from datetime import datetime

In [ ]:
# ts.get_hist_data('600030') # 600030 中信证券
# ts.get_today_all() # 一次性获取当前交易所有股票的行情数据

In [46]:
df = ts.get_index() # 获取大盘指数实时行情列表
df = pd.DataFrame(df)
select = ['上证指数', '沪深300', '创业板指', '深证综指']
df = df.loc[df['name'].isin(select)]
df

,code,name,change,open,preclose,close,high,low,volume,amount
0,000001,上证指数,0.25,3083.4265,3075.1372,3082.7866,3098.4020,3076.9936,66261872,909.3592
10,000300,沪深300,0.67,3785.1869,3770.5891,3795.9521,3811.5613,3776.6185,44715342,692.8426
17,399006,创业板指,-0.25,1709.5690,1709.5480,1705.2090,1715.4150,1690.9910,781036523,124.5614
21,399106,深证综指,0.06,1749.6190,1746.3310,1747.3810,1753.7920,1738.2630,8884462677,1188.1118

In [107]:
# 上证指数
#ts.get_realtime_quotes('sh')
# 上证指数，深圳成指，沪深300指数，上证50，中小板，创业板
# ts.get_realtime_quotes(['sh', 'sz', 'hs300', 'sz50', 'zxb', 'cyb'])
# 或者混搭
# ts.get_realtime_quotes(['sh','600848'])

# sh = ts.get_h_data('000001', index = True) # 000001 = sh
# sz = ts.get_h_data('399106', index = True) # 399106 = 深圳综合指数
# cyb = sz = ts.get_h_data('399006', index = True) # 399006 = cyb

# sh.close.head(60).plot(linewidth = 3, figsize =(15, 7))
# sz.close.plot(figsize =(15, 7))
# cyb.close.plot(figsize =(15, 7))
# plot(sh.close, sz.close)


plot([go.Scatter(x = sh.index, y = sh.close)])

'file://C:\\Users\\A98172\\Desktop\\temp-plot.html'