In [1]:
import tushare as ts
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
from datetime import datetime

In [ ]:
# ts.get_hist_data('600030') # 600030 中信证券
# ts.get_today_all() # 一次性获取当前交易所有股票的行情数据

In [154]:
df = ts.get_index() # 获取大盘指数实时行情列表
df = pd.DataFrame(df)
select = ['上证指数', '深证综指', '沪深300', '创业板指']
df = df.loc[df['name'].isin(select)]
df

,code,name,change,open,preclose,close,high,low,volume,amount
0,000001,上证指数,0.50,3088.0076,3091.1909,3106.5630,3109.6310,3080.0457,102440567,1438.7173
10,000300,沪深300,0.79,3811.2852,3807.5781,3837.7071,3843.4961,3800.9256,69552221,1085.8751
17,399006,创业板指,2.32,1702.3660,1702.9300,1742.4670,1743.8810,1702.3660,1202141608,190.4042
21,399106,深证综指,1.46,1748.6630,1747.9560,1773.4680,1774.5620,1748.6630,13274964716,1798.5363

In [155]:
# pingan = ts.get_realtime_quotes('601318')[['code', 'name', 'pre_close', 'price', 'high', 'low', 'bid', 'ask', 'volume', 'amount', 'time', 'date']]
# pingan = pingan[['code', 'name', 'pre_close', 'price', 'high', 'low', 'bid', 'ask', 'volume', 'amount', 'time', 'date']]
select = ['code', 'name', 'pre_close', 'price', 'high', 'low', 'bid', 'ask', 'volume', 'amount', 'time', 'date']
pingan = ts.get_realtime_quotes('601318').loc[:, select]
moutai = ts.get_realtime_quotes('600519').loc[:, select]
cmb = ts.get_realtime_quotes('600036').loc[:, select]
cib = ts.get_realtime_quotes('601166').loc[:, select]
midea = ts.get_realtime_quotes('000333').loc[:, select]
gree = ts.get_realtime_quotes('000651').loc[:, select]
cmbc = ts.get_realtime_quotes('600016').loc[:, select]
vanke = ts.get_realtime_quotes('000002').loc[:, select]
spdb = ts.get_realtime_quotes('600000').loc[:, select]
yili = ts.get_realtime_quotes('600887').loc[:, select]
citics = ts.get_realtime_quotes('600030').loc[:, select]
wuliangye = ts.get_realtime_quotes('000858').loc[:, select]
ab = ts.get_realtime_quotes('601288').loc[:, select]
hrs = ts.get_realtime_quotes('600276').loc[:, select]
icbc = ts.get_realtime_quotes('601398').loc[:, select]
# A50 = pingan.append(moutai)
A50 = pd.concat([pingan, moutai, cmb, cib, midea, gree, cmbc, vanke, spdb, yili, citics, wuliangye, ab, hrs, icbc], axis = 0)
A50

,code,name,pre_close,price,high,low,bid,ask,volume,amount,time,date
0,601318,中国平安,63.530,64.500,65.000,63.210,64.500,64.510,81080247,5203749939.000,14:38:33,2018-06-05
0,600519,贵州茅台,781.970,785.460,794.700,777.230,785.460,785.500,4656540,3659045147.000,14:38:33,2018-06-05
0,600036,招商银行,29.250,29.150,29.350,28.900,29.140,29.150,32995280,961761451.000,14:38:33,2018-06-05
0,601166,兴业银行,16.010,15.950,16.020,15.900,15.950,15.970,36457605,581483798.000,14:38:33,2018-06-05
0,000333,美的集团,53.990,54.850,55.100,53.720,54.840,54.850,38013433,2077141730.450,14:38:33,2018-06-05
0,000651,格力电器,47.810,48.630,48.840,47.930,48.630,48.640,96150266,4650501685.960,14:38:33,2018-06-05
0,600016,民生银行,7.720,7.670,7.730,7.650,7.670,7.690,40652399,312226011.000,14:38:33,2018-06-05
0,000002,万 科Ａ,27.300,27.600,27.770,26.840,27.590,27.600,54791350,1496124279.180,14:38:33,2018-06-05
0,600000,浦发银行,10.750,10.640,10.750,10.610,10.640,10.650,15639212,166492488.000,14:38:33,2018-06-05
0,600887,伊利股份,31.000,31.660,31.980,30.600,31.660,31.670,79640516,2492739420.000,14:38:33,2018-06-05
0,600030,中信证券,18.690,18.700,18.810,18.480,18.700,18.710,47200256,880578302.000,14:38:33,2018-06-05
0,000858,五 粮 液,81.800,82.400,83.730,80.620,82.400,82.410,36984249,3039086205.760,14:38:36,2018-06-05
0,601288,农业银行,3.660,3.660,3.680,3.640,3.660,3.670,172594713,632731662.000,14:38:33,2018-06-05
0,600276,恒瑞医药,75.740,80.080,81.990,75.530,80.080,80.100,27838759,2199551651.000,14:38:33,2018-06-05
0,601398,工商银行,5.700,5.700,5.730,5.660,5.690,5.700,130599347,742806422.000,14:38:33,2018-06-05

In [156]:
A50 = ['601318', '600519', '600036', '601166', '000333',
'000651', '600016', '000002', '600000', '600887',
'600030', '000858', '601288', '600276', '601398',
'601328', '002415', '601668', '600104', '600048',
'601601', '000725', '601169', '601988', '000001', 
'002027', '601766', '600028', '600900', '601939', 
'600837', '002304', '600585', '601818', '601211', 
'601229', '600019', '001979', '600050', '601088', 
'002594', '601390', '601628', '601186', '601857', 
'601336', '600018', '601998', '601800', '601238']

A50 = ts.get_realtime_quotes(A50).loc[:, ['name', 'pre_close', 'price', 'volume', 'amount', 'time', 'date']]
change = A50['price'].astype(float) - A50['pre_close'].astype(float)

# A50 = pd.DataFrame([A50['name'], change])
A50 = pd.concat([A50['name'], change, A50['volume'], A50['amount'], A50['date']], axis = 1, join = 'outer')
A50

     name     0     volume          amount        date
0    中国平安  0.96   81241147  5214127962.000  2018-06-05
1    贵州茅台  3.53    4659140  3661087355.000  2018-06-05
2    招商银行 -0.10   33009280   962169431.000  2018-06-05
3    兴业银行 -0.06   36457605   581483798.000  2018-06-05
4    美的集团  0.85   38043033  2078765177.450  2018-06-05
5    格力电器  0.82   96172070  4651562056.430  2018-06-05
6    民生银行 -0.04   40666799   312336604.000  2018-06-05
7    万 科Ａ  0.29   54812850  1496717607.180  2018-06-05
8    浦发银行 -0.10   15645212   166556330.000  2018-06-05
9    伊利股份  0.67   79648916  2493005430.000  2018-06-05
10   中信证券  0.02   47335086   883101286.000  2018-06-05
11  五 粮 液  0.60   36985149  3039160369.760  2018-06-05
12   农业银行  0.00  172596513   632738257.000  2018-06-05
13   恒瑞医药  4.36   27841443  2199766624.000  2018-06-05
14   工商银行  0.00  130621347   742931704.000  2018-06-05
15   交通银行 -0.01   39817665   240588826.000  2018-06-05
16   海康威视  0.83   23890515   946216462.790  2018-06-05
17   中国建筑  0.00   44867691   371350332.000  2018-06-05
18   上汽集团 -0.14    9838361   353454541.000  2018-06-05
19   保利地产  0.19   96666292  1289362315.000  2018-06-05
20   中国太保  0.27   26875748   926998721.000  2018-06-05
21   京东方Ａ  0.11  521404962  2163240128.380  2018-06-05
22   北京银行 -0.15   57636322   374187388.000  2018-06-05
23   中国银行  0.00   57972931   219383709.000  2018-06-05
24   平安银行 -0.01   56798000   579956129.170  2018-06-05
25   分众传媒  0.11   61831281   776482513.620  2018-06-05
26   中国中车 -0.03   21751679   197448167.000  2018-06-05
27  XD中国石 -0.09  112746196   740149682.000  2018-06-05
28   长江电力  0.00   10393221   174869530.000  2018-06-05
29   建设银行 -0.01   96626118   689230612.000  2018-06-05
30   海通证券 -0.13   32556514   342777625.000  2018-06-05
31   洋河股份  2.03    3197954   457395835.690  2018-06-05
32   海螺水泥  0.24   27754673   977209434.000  2018-06-05
33   光大银行 -0.01   36393156   144745333.000  2018-06-05
34   国泰君安 -0.02    7474503   124876195.000  2018-06-05
35   上海银行 -0.01   15571574   244552855.000  2018-06-05
36   宝钢股份 -0.01   36966720   323369715.000  2018-06-05
37   招商蛇口  0.18   22839579   505887314.770  2018-06-05
38   中国联通  0.00   65755759   359401470.000  2018-06-05
39   中国神华 -0.24   15876529   329271608.000  2018-06-05
40    比亚迪  0.85    4646781   234626877.750  2018-06-05
41   中国中铁  0.00          0           0.000  2018-06-05
42   中国人寿  0.14   12053810   300943786.000  2018-06-05
43   中国铁建  0.01    8804716    81108222.000  2018-06-05
44   中国石油  0.01   25404066   202060636.000  2018-06-05
45   新华保险  1.58   24105163  1081466908.000  2018-06-05
46   上港集团  0.04    8307355    54074744.000  2018-06-05
47   中信银行 -0.03   23390687   148118091.000  2018-06-05
48   中国交建 -0.05    4218749    51349064.000  2018-06-05
49   广汽集团  0.76    7524414   143553794.000  2018-06-05

In [3]:
# 上证指数
#ts.get_realtime_quotes('sh')
# 上证指数，深圳成指，沪深300指数，上证50，中小板，创业板
# ts.get_realtime_quotes(['sh', 'sz', 'hs300', 'sz50', 'zxb', 'cyb'])
# 或者混搭
# ts.get_realtime_quotes(['sh','600848'])

# sh = ts.get_h_data('000001', index = True) # 000001 = sh
# sz = ts.get_h_data('399106', index = True) # 399106 = 深圳综合指数
# cyb = sz = ts.get_h_data('399006', index = True) # 399006 = cyb

# sh.close.head(60).plot(linewidth = 3, figsize =(15, 7))
# sz.close.plot(figsize =(15, 7))
# cyb.close.plot(figsize =(15, 7))
# plot(sh.close, sz.close)


#plot([go.Scatter(x = sh.index, y = sh.close)])

In [158]:
# ts.get_h_data('601318', start = '2018-01-01').head(10)['amount']
test('amount').plot.bar()

TypeError: 'Series' object is not callable